#register {
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.28);
  margin: 10px auto 20px auto;
  border-radius: 8px;
  max-width: 700px;
  h2 {
    color: #222f3e;
    padding-top: 20px;
    text-align: center;
  }
  form {
    label {
      color: #222f3e;
      font-weight: bold;
    }
    .mb-3 {
      width: 90%;
      margin: 0 auto;
    }
    .btn_box {
      width: 100%;
      display: flex;
      align-items: center;
      button {
        margin: 20px auto;
      }
    }
  }
  div {
    display: flex;
    width: 100%;
    justify-content: center;
    form {
      button {
        margin: 20px;
      }
    }
  }
}
