#register {
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto 20px auto;
  border-radius: 8px;
  max-width: 700px;
  h2 {
    color: #fff;
    padding-top: 20px;
    text-align: center;
  }
  form {
    label {
      color: #fff;
      font-weight: bold;
    }
    .mb-3 {
      width: 90%;
      margin: 0 auto;
    }
    .btn_box {
      width: 100%;
      display: flex;
      align-items: center;
      button {
        margin: 20px auto;
      }
    }
  }
}
