header {
  height: 60px;
  width: 100%;
  background-color: #222f3e;
  display: flex;
  .header-title {
    display: flex;
    h1 {
      float: left;
      margin-top: 15px;
      height: 25px;
      color: #fff;
      font-size: 25px;
      margin-left: 40px;
    }
  }
  .navbar {
    margin-left: 1200px;
    .navbar-item {
      display: inline-block;
      a {
        text-decoration: none;
        font-size: 20px;
        margin: 30px;
        color: #fff;
      }
      width: 100%;
      height: 190px;
      display: flex;
      @media screen and(min-width: 768px) {
        height: 290px;
      }
      div#logo {
        margin: 20px auto;
        background-image: url("../img/devrando.png");
        height: 150px;
        width: 150px;
        background-size: cover;
        @media screen and(min-width: 768px) {
          height: 250px;
          width: 250px;
        }
      }
    }
  }
}
