body {
  header {
    height: 60px;
    width: 100%;
    background-color: #222f3e;
    display: flex;
    max-width: 1520px;
    margin: 0 auto;
    div {
      width: 25%;
      padding-top: 10px;
      padding-left: 30px;
      display: flex;
      a {
        display: flex;
        text-decoration: none;
        h1 {
          margin-top: 4px;
          height: 100%;
          color: #fff;
          font-size: 28px;
          text-decoration: none;
        }
      }
    }
    nav {
      width: 75%;
      display: flex;
      justify-content: flex-end;
      ul {
        display: flex;
        margin-top: 20px;
        li {
          margin-right: 30px;
          a {
            text-decoration: none;
            font-size: 28x;
            color: #fff;
            margin: 20px;
            &:hover {
              background-color: #fff;
              margin: 20px;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
}
