main {
  #hike {
    color: #fff;
    display: flex;
    .hike_info {
      background-color: #222f3e;
      color: #fff;
      -webkit-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.59);
      box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.59);
      border-radius: 10px;
      width: 800px;
      margin: 80px auto;
      #info {
        display: flex;
      }
      img {
        justify-content: center;
        height: 400px;
        width: 600px;
      }
      #hike_name {
        text-align: center;
        font-size: 32px;
      }
      p #info {
        display: block;
      }
    }
    #description {
      background-color: #222f3e;
      color: #fff;
      -webkit-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.59);
      box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.59);
      border-radius: 10px;
      width: 800px;
      margin: 80px auto;
    }
  }
}
