body {
  main {
    section {
      &#message_section {
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        #message {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(255, 255, 255, 0.2);
          margin: 0 auto 20px auto;
          border-radius: 8px;
          width: 90%;
          height: 100px;
          color: #000;
          font-size: 24px;
          font-weight: bold;
          -webkit-box-shadow: 6px 5px 11px -2px rgba(0, 0, 0, 0.63);
          box-shadow: 6px 5px 11px -2px rgba(0, 0, 0, 0.63);
          @media screen and(min-width: 768px) {
            width: 50%;
          }
        }
      }
    }
  }
}
