body {
  main {
    section {
      color: #222f3e;
      max-width: 1520px;
      table {
        &.table {
          .thead-dark {
            height: 60px;
            color: #222f3e;
            font-size: 18px;
            font-weight: bold;
          }
          tbody {
            tr {
              td {
                a {
                  text-decoration: none;
                  color: #000;
                }
                svg {
                  &.modify {
                    color: darkolivegreen;
                  }
                  &.delete {
                    color: red;
                  }
                }
              }
            }
          }
        }
      }
      @media screen and(min-width: 845px) {
        margin: 0 auto;
        ul {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
          align-items: center;
          align-content: center;
          text-align: center;
          padding: 0px;
          li {
            div {
              background-color: rgba(255, 255, 255, 0.8);
              -webkit-box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.28);
              box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.28);
              color: #222f3e;
              border-radius: 10px;
              width: 300px;
              margin: 25px auto;
            }
            p {
              &#hike_name {
                padding-top: 5px;
                height: 55px;
                font-weight: bold;
                color: #222f3e;
              }
              &#info {
                text-align: left;
                margin-left: 10px;
                margin-bottom: 10px;
              }
            }
            img {
              width: 300px;
              border-top: 1px solid #222f3e;
              border-bottom: 1px solid #222f3e;
            }
            span {
              a {
                svg {
                  &.modify {
                    color: rgb(187, 255, 0);
                  }
                  &.delete {
                    color: rgb(255, 0, 0);
                  }
                }
              }
            }
          }
        }
      }
      ul {
        li {
          div {
            background-color: rgba(255, 255, 255, 0.8);
            -webkit-box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.28);
            box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.28);
            color: #222f3e;
            border-radius: 10px;
            width: 360px;
            margin: 25px auto;
          }
          p {
            margin: 5px;
            &#hike_name {
              height: 50px;
              color: #222f3e;
            }
            &#info {
              text-align: left;
              margin-left: 10px;
            }
          }
          img {
            width: 360px;
            height: 200px;
          }
        }
      }
    }
  }
}
