@import "_header.scss";
@import "_footer.scss";
@import "_form.scss";
@import "_error.scss";
@import "_hike.scss";

// font face
@font-face {
  font-family: "Metropolis-Light";
  src: url("/src/public/fonts/metropolis.light.otf") format("truetype");
}
@font-face {
  font-family: "Metropolis-Regular";
  src: url("/src/public/fonts/metropolis.regular.otf") format("truetype");
}
@font-face {
  font-family: "Metropolis-Medium";
  src: url("/src/public/fonts/metropolis.medium.otf") format("truetype");
}
@font-face {
  font-family: "Metropolis-Bold";
  src: url("/src/public/fonts/metropolis.bold.otf") format("truetype");
}

body {
  a {
    text-decoration: none;
  }
  font-family: "Metropolis-Regular", sans-serif;
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  @media screen and(min-width: 768px) {
    background: url("../img/bg_screen.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  main {
    section {
      color: #fff;
      max-width: 1520px;
      @media screen and(min-width: 845px) {
        margin: 0 auto;
        ul {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
          align-items: center;
          align-content: center;
          text-align: center;
          padding: 0px;
          li {
            background-color: #222f3e;
            color: #fff;
            -webkit-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.59);
            box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.59);
            border-radius: 10px;
            width: 360px;
            margin: 25px auto;
            p {
              margin: 5px;
              &#hike_name {
                height: 50px;
                color: #fff;
              }
              &#info {
                text-align: left;
                margin-left: 10px;
              }
            }
            img {
              width: 360px;
            }
          }
        }
      }
    }
  }
}
